.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle/
android/local.properties
ios/Podfile.lock
*.log
.freebuff/
node_modules/
server/node_modules/
